* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100vh;
  margin: auto;
}

img {
  border: 5px solid #333;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#app > h1,
h3 {
  margin-bottom: 1rem;
  font-weight: normal;
}

button {
  padding: 20px;
  border: none;
  border-radius: 5px;
  background: rgba(1, 1, 17, 0.616);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.male {
  border-color: steelblue;
  background-color: steelblue;
}

.female {
  border-color: orangered;
  background-color: orangered;
  color: #333;
}
